.main {
  display: flex;
  background-color: white;
  padding-top: 71px;
  padding-left: 71px;    
  width: 100vw;  
  min-height: 100vh;
}

@media (max-width: 640px) {
  .main {
    padding-left: 0px;
    padding-bottom: 100px;
  }
}
