.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 40px;
}

.main h1 {
  color: black;
  font-size: 40px;
  font-weight: 600;
}

.main h2 {
  color: var(--standard-blue);
  font-size: 20px;
  font-weight: 300;
}

.textBox {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 35px;
  max-width: 1000px;
}

.textBox p {
  color: black;
  font-size: 20px;
  font-style: italic;
}

.demo {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
}

.row1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 25px;
  box-shadow: 8px 8px 5px hsla(220, 60%, 50%, 0.3);
  background-color: var(--background-blue);
  border-radius: 15px;
}

.demoImage {
  display: flex;
  border-radius: 15px;
  overflow: hidden;
}

.demoText {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
  padding: 30px 40px;
}

.demoText p {
  color: black;
  font-size: 20px;
}

.demoButton {
  display: flex;
  border-width: 1px;
  border-color: var(--standard-blue);
  border-radius: 15px;
  padding: 5px;
  color: var(--standard-blue);
  background-color: white;
  font-weight: 300px;
  cursor: pointer;
  transition:
    background-color 0.2s,
    color 0.2s;
  user-select: none;
  width: 120px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.demoButton:hover {
  background-color: var(--standard-blue);
  color: white;
}

.demoButton:active {
  opacity: 0.7;
}

@media (max-width: 1300px) {
  .row1 {
    flex-direction: column;
  }
}
