.header {
  position: fixed;
  display: flex;
  flex-direction: row;
  background-color: white;
  border-bottom: solid;
  border-bottom-width: 1px;
  border-color: lightgray;
  height: 71px;
  width: 100%;
  z-index: 100;
}

.leftSection {
  display: flex;
  border: none;
  cursor: pointer;
}

.leftSection:active {
  opacity: 0.8;
}

.middleSection {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 1;
}

.menu {
  cursor: pointer;
}

.menu:hover {
  text-decoration: underline;
}

.menu:active {
  opacity: 0.7;
}

.rightSection {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  min-width: 200px;
}

.openButton {
  background-color: var(--standardBlue);
  border-radius: 20px;
  padding: 7px 10px 7px 10px;
  transition: background-color 0.3s;
  color: white;
  white-space: nowrap;
  cursor: pointer;
}

.openButton:active {
  opacity: 0.7;
}

.menuButton {
  display: none;
}

@media (max-width: 870px) {
  .menuButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
  }

  .menuButton:active {
    opacity: 0.7;
  }

  .menu {
    display: none;
  }
}
